body {
  margin: 0;
  padding: 0;
}

.bg-container {
  height: 100%;
  background-image: url("../Images/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Make the background fixed */
}