.flip-container {
    perspective: 1000px;
    cursor: pointer;
  }
  
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped {
    transform: rotateY(180deg);
  }
  
  /* Front and back face of the card */
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    z-index: 2;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  /* Additional styles to hide/show the components during the transition */
  .flip-card-enter {
    transform: rotateY(0);
  }
  
  .flip-card-enter-active {
    transform: rotateY(180deg);
    transition: transform 1s;
  }
  
  .flip-card-exit {
    transform: rotateY(180deg);
  }
  
  .flip-card-exit-active {
    transform: rotateY(0);
    transition: transform 1s;
  }